<button (click)="connectToDevice()">Conectar Movesense MD OP174</button>

<div class="data_raw">
  @if (isConnected()) {
    <p>✅ Conectado a: <strong>{{ deviceName() }}</strong></p>
  
    @if (rawData().length > 0) {
      <div>
        <h3>📥 <strong> Datos recibidos en tiempo real (bytes crudos):</strong></h3>
        <pre>{{ rawData().join(', ') }}</pre>
      </div>
    }
    <div class="item"><strong>BluetoothRemote  : </strong>{{target | json}}</div>
  }
</div>

<div class="data">
  <h2>Datos Raw</h2>
<div class="item"><strong> Detección de caida:</strong> {{fall}}</div>
<div class="item"><strong>Frecuencia Cardíaca (HR): {{heartRate}}</strong></div>
<div class="item"><strong>BPM: {{bpm}}</strong></div>
<div class="item"><strong>Temperatura: {{temperature}}</strong></div>
<div class="item"><strong>Datos ECG: {{ecg}}</strong></div>

<h2>Lectura de los binarios (deserializados)</h2>
<div class="item"><strong>Detección de caida: {{fallProcessed}}</strong></div>
<div class="item"><strong>arrhythmia: {{arrhythmia}}</strong></div>
<div class="item"><strong>Step: {{steps}}</strong></div>
<div class="item"><strong>Frecuencia Cardíaca (HR): {{heartRateProcessed}}</strong></div>
<div class="item"><strong>BPM: {{bpmProcessed}}</strong></div>
<div class="item"><strong>Temperatura: {{temperatureProcessed}}</strong></div>
<div class="item"><strong>Datos ECG: {{ecgProcessed}}</strong></div>
</div>